
@model Quadridge.ViewModels.DealFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Deals"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Deal Name")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DealTypeId, "Type of Deal")
        @Html.DropDownListFor(m => m.DealTypeId, new SelectList(Model.DealTypes, "DealTypeId", "Type"), "select the Type of Deal", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BankId, "Select a bank")
        @Html.DropDownListFor(m => m.BankId, new SelectList(Model.Banks, "BankId", "Name"), "select a bank", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LawyerId, "Select a lawyer")
        @Html.DropDownListFor(m => m.LawyerId, new SelectList(Model.Lawyers, "LawyerId", "Name"), "select a Lawyer", new { @class = "form-control" })
    </div>

    if (Model.Title == "Edit Deal")
    {
        <div class="form-group">
            @Html.LabelFor(m => m.StatusId) 
            @Html.DropDownListFor(m => m.StatusId, new SelectList(Model.Statuses, "StatusId", "Name"), new { @class = "form-control" })
        </div>
    }
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}